@media screen and (width < 576px) {
  header .navbar-nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

@media screen and (width > 576px) {
  header .navbar-nav {
    position: static;
  }
}